<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Threads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <h1>All threads</h1>

  <ion-list>
    <ion-item class="thread" *ngFor="let thread of threads" (click)="goToThread(thread.id)">
      <ion-label>
        <ion-text color="primary">
          <h1>{{thread.topic}}</h1>
        </ion-text>
        <ng-container *ngIf="thread.lastActivity">
          <ion-text color="medium">
            {{thread.lastActivity.unixdate | date: 'h:mm' }}:
          </ion-text>
          <ion-text color="dark">
            {{thread.lastActivity.text}}
          </ion-text>
        </ng-container>
        <ng-container *ngIf="!thread.lastActivity">
          <ion-text color="medium">No activity yet</ion-text>
        </ng-container>
      </ion-label>
    </ion-item>
  </ion-list>

  <h1>Archived threads</h1>



  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createThread()" mini>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
