<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Friend requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1> Send friend request</h1>

  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input [(ngModel)]="recipientEmail"></ion-input>
        <ion-button (click)="sendFriendRequest()">Send</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <h1> Pending incoming friend requests</h1>

  <ion-card *ngFor="let request of friendRequests">
    <ion-card-content>
      <ion-item>
        <ion-label>{{request.friend.nickname}} ({{ request.friend.email }})</ion-label>
        <ion-button color="success" (click)="acceptFriendRequest(request.id)">Accept</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
