<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item class="friend" (click)="openThreadsOfFriend(friendship.id)" *ngFor="let friendship of loggedInUser.friends">
      <ion-avatar>
        <img src="https://openclipart.org/download/247324/abstract-user-flat-1.svg">
      </ion-avatar>
      <ion-label>
        {{ friendship.friend.nickname }} ({{ friendship.friend.email }})
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
