<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        v0.0.1 - Just started out!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This app is finally underway! You can start chatting, but expect lots of bugs, and minimal functionality. <br>
      What works now:
      <ul>
        <li>Login/Register/Logout</li>
        <li>Sending friend requests</li>
        <li>Accepting friend requests</li>
        <li>Starting threads with friends</li>
        <li>Chatting in threads</li>
        <li>Newsfeed</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
